.field-validation-error{
    color:#e80c4d;
}
input.input-validation-error{
    border:1px solid #e80c4d;
}
.navbar-custom-menu>.navbar-nav>li {
    position: relative;
}
@media (min-width: 768px) {
    .navbar-custom-menu > .navbar-nav > li {
        float: left;
    }
}
@media (min-width: 768px)
{
.navbar-custom-menu > .navbar-nav {
    float: left;
    margin: 0;
}
}
.field-validation-error{
    color:#e80c4d;
    font-weight:bold;
}
input.input-validation-error{
    border:1px solid #e80c4d;
}

