@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@{
    
        <h2>here name @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")</h2>
}

<p>Use this area to provide additional information.</p>